<nav class="navbar navbar-expand-lg navbar-inverse bg-dark navbar-fixed-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <img src="https://cdn.discordapp.com/attachments/351263699476152320/403402675338739722/151624865935639070.png">
      <h1>Tapestry</h1>
      <div class="mr-auto">
        <app-navbar></app-navbar>
      </div>
      <app-search></app-search>
      <app-login></app-login>
    </div>
  </div>
</nav>